@import "../../../../styles.scss";

// navbar

.navbar {
    background-color: $nav-color;
    color: white;
    font-weight: 500;
}

.navbar > a > button {
    color: $text-color;
    font-size: 1.25rem;
    font-weight: 500;
}

// drawer

#navDrawer > .offcanvas-header {
    background-color: $nav-color;
    color: white;
}

