<div id="addDegree">
<form [formGroup]="addDegreeForm" (ngSubmit)="addDegree()">
    <div class="form-group">
        <label for="degreeName">Degree Name</label>
        <input id="degreeName" class="form-control" type="text" formControlName="name">
    </div>
    <div class="form-group">
        <label for="degreePrefix">Degree Prefix</label>
        <input id="degreePrefix" class="form-control" type="text" formControlName="prefix">
    </div>
    <!-- Degree Requirements -->
    <div class="d-flex flex-row justify-content-evenly">
        <div class="form-group p">
            <label for="majorReq">Major Credits</label>
            <input id="majorReq" class="form-control" type="number" formControlName="majorReq">
        </div>
        <div class="form-group p">
            <label for="mascReq">Math and Science Credits</label>
            <input id="mascReq" class="form-control" type="number" formControlName="mascReq">
        </div>
        <div class="form-group p">
            <label for="hssaReq">HSSA Credits</label>
            <input id="hssaReq" class="form-control" type="number" formControlName="hssaReq">
        </div>
        <div class="form-group p">
            <label for="techReq">Elective Technical Credits</label>
            <input id="techReq" class="form-control" type="number" formControlName="techReq">
        </div>
        <div class="form-group p">
            <label for="freeReq">Free Elective Credits</label>
            <input id="freeReq" class="form-control" type="number" formControlName="freeReq">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Degree</button>
</form>
</div>