@import "../../../../styles.scss";

#navbarContainer {
    padding-bottom: 70px;
}

.navbar {
    background-color: $nav-color;
    color: white;
    font-weight: 500;
	
		a {
			button {
				color: white;
				font-size: 1.25rem;
				font-weight: 500;
			}
		}
		
		ul {
			margin-right: 1em;
		}

}

#navDrawer > .offcanvas-header {
    background-color: $nav-color;
    color: white;
}

.modal-header {
	background-color: $nav-color;

	margin-right: 0;
	
	#reportCourseModalLabel {
		color: white;
	}
}

.modal-body {
	// color: white;
	button {
		background-color: $nav-color;
		color: white;
	}
	
	.active {
		background-color: #705C2E;
	}

	// button:active {
	// 	background-color: blue;
	// }

	// button: {

	// }
}