<h1 mat-dialog-title>Report Incorrect Course Information</h1>
<div mat-dialog-content>
		<div class="d-grid gap-2">
			<button id="courseReportTitle" type="button" class="btn" data-bs-toggle="button">Incorrect Title</button>
			<button id="courseReportPrereqs" type="button" class="btn" data-bs-toggle="button">Incorrect Prereqs</button>
			<button mat-raised-button color="primary">Test</button>
		</div>

</div>
<div mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button mat-dialog-close cdkFocusInitial>Submit</button>
</div>