#courseDetailsContainer {
	margin: 1em;
    // outline-style: block;

	#specifics {
		div {
			font-size: 16pt;
			text-align: center;
		}
	}

	#prereqs {
		margin: 1em 0;
		.coursePrereq{
			// div {
			margin-left: 5%;
			margin-right: 5%;
			// }
		}
		.subPrereq{
			// div {
			margin-left: 5%;
			margin-right: 5%;
			// }
		}
		.extraPrereq{
			// div {
			margin-left: 5%;
			margin-right: 5%;
			// }
		}
	}


}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}