<div id="courseDetailsContainer" class="border">
    <div *ngIf="validId">
        <p>{{course.searchText}}</p>
        <div class="container border">
            <div class="row justify-content-around">
                <div class="col">
                    Credit Hours: &lt;TODO&gt;
                </div>
                <div class="col">
                    Term Available: &lt;TODO&gt;
                </div>
                <div class="col">
                    Graduate Studies Eligible: &lt;TODO&gt;
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col">
                    Prerequisites: &lt;TODO&gt;
                </div>
                <div class="col">
                    Corequisites: &lt;TODO&gt;
                </div>
            </div>
        </div>
        <p>{{course.description}}</p>
    </div>
    <div *ngIf="!validId">
        <h1>Invalid Course Id</h1>
    </div>
</div>