<div *ngIf="authService.isLoggedIn" >
    <div class="navbar navbar-dark bg-faded fixed-top justify-content-start">
        <a class="navbar-brand">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#navDrawer">
            <i class="bi bi-list"></i>
            Degree Planner
        </button>
        </a>       
    </div>

    <div id="navDrawer" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="navDrawerTitle">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navDrawerTitle">Degree Planner</h5>
            <button type="button" class="btn-close btn-close-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
            <!-- <a class="list-group-item drawer-item" routerLink="dashboard" data-bs-toggle="offcanvas" data-bs-target="navDrawer"> -->
            <a class="list-group-item drawer-item" routerLink="dashboard" data-bs-dismiss="offcanvas">
                <i class="bi bi-house-door-fill"></i>
                Main Page
            </a>
            <a class="list-group-item drawer-item" routerLink="add-course" data-bs-dismiss="offcanvas">
                <i class="bi bi-plus"></i>
                Add Course
            </a>
            <a class="list-group-item drawer-item" routerLink="add-degree" data-bs-dismiss="offcanvas">
                <i class="bi bi-plus"></i>
                Add Degree
            </a>
            <a class="list-group-item drawer-item" (click)="authService.SignOut()" data-bs-dismiss="offcanvas">
                <i class="bi bi-box-arrow-in-right"></i>
                Sign out
            </a>
            </ul>
        </div>
    </div>

</div>
