#dashboard {
	// padding-top: 1rem;
	// margin: 70px;
	// margin: 1rem 1rem;
}

#degreeCredits div div {
	
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}