<div id="{{id}}" class="credit-list col border-top">
	<div class="border-start border-end border-bottom">{{title}}</div>
	<div class="border-start border-end border-bottom">REQUIRED MAJOR CREDITS: {{major}}</div>
	<div class="border-start border-end border-bottom">REQUIRED MATH & SCIENCE CREDITS: {{masc}}</div>
	<div class="border-start border-end border-bottom">HUMANITIES & SOCIAL SCIENCE CREDITS: {{hssa}}</div>
	<div class="border-start border-end border-bottom">ELECTIVE TECHNICAL CREDITS: {{tech}}</div>
	<div class="border-start border-end border-bottom">FREE ELECTIVE CREDITS: {{free}}</div>
	<div class="border-start border-end border-bottom">TOTAL CREDITS: {{total}}</div>
</div>