<!-- <div *ngIf="authService.isLoggedIn">
	<router-outlet name="nav"></router-outlet>
</div>
<div class="page-container">
    <div id="routerOutletContainer">
    <router-outlet name="primary"></router-outlet>
    </div>
</div> -->


<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
			[opened]="(isHandset$ | async) === false">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="dashboard">
				<i class="bi bi-house"></i>
				Main Page
			</a>
			<a mat-list-item routerLink="dashboard">
				<i class="bi bi-calendar4"></i>
				Planner
			</a>
			<a mat-list-item routerLink="manage-credits">
				<i class="bi bi-journal-text"></i>
				Manage Credits
			</a>
			<a mat-list-item routerLink="manage-courses">
				<i class="bi bi-archive"></i>
				Course List
			</a>
			<a mat-list-item (click)="authService.SignOut()">
				<i class="bi bi-box-arrow-right"></i>
				Sign out
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div [ngSwitch]="getToolbarState()">
			<div *ngSwitchCase="'main'">
				<ng-container *ngTemplateOutlet="mainToolbar"></ng-container>
			</div>
			<div *ngSwitchCase="'course-details'">
				<ng-container *ngTemplateOutlet="courseDetailsToolbar"></ng-container>
			</div>
		</div>


		<router-outlet></router-outlet>
		<!-- Add Content Here -->
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #mainToolbar>
	<mat-toolbar class="mainToolbar" color="primary">
		<button
			type="button"
			aria-label="Toggle sidenav"
			mat-icon-button
			(click)="drawer.toggle()"
			*ngIf="isHandset$ | async">
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<span>Degree Planner</span>
	</mat-toolbar>
</ng-template>

<ng-template #courseDetailsToolbar>
	<mat-toolbar class="courseDetailsToolbar" color="primary">
		<div id="toolbarName">
		<button
			type="button"
			aria-label="Toggle sidenav"
			mat-icon-button
			(click)="drawer.toggle()"
			*ngIf="isHandset$ | async">
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<span>Degree Planner</span>
		</div>

		<div (click)="this.navbarService.reportCourse()">
			<i class="bi bi-three-dots-vertical"></i>
		</div>
	</mat-toolbar>
</ng-template>