// .page-container {
// 	margin-top: 75px;
// }

// #routerOutletContainer {
//     padding: 1rem, 0;
// }


.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 200px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar .mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.mat-sidenav-content {
	align-items: center;

	#toolbarName {
		display: flex;
		align-items: center;
	}

	.mainToolbar {
		// justify-content: space-between;
	}
	
	.courseDetailsToolbar {
		justify-content: space-between;
	}
	
	// div {
	// 	background-color: blue;
	// 	justify-content: flex-end;
	// }
}

