<div id="courseSearch">
<form [formGroup]="courseSerchForm">
	<div class="row">
		<div class="col">
			<select id="courseSubjectInput" type="text" class="form-control" name="subject" formControlName="subject">
				<option>All Subjects</option>
				<option>Math</option>
				<option>Physics</option>
				<option>Computer Science</option>
			</select>
		</div>
		<div class="col">
			<input id="courseSearchInput" class="form-control" placeholder="search" name="search" formControlName="search">
		</div>
	</div>
</form>

<div *ngFor="let course of courses">
	<div class="card courseSearchCard">
		<div class="card-body">
		<h5 class="card-title">{{course.id | uppercase}} {{course.title}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">Standing: N/A</h6>
		<h6 class="card-subtitle mb-2 text-muted">Prereqs: {{course.prereqs.toString()| uppercase}}</h6>
		</div>
	</div>  
</div>
</div>