<form [formGroup]="courseSerchForm">
	<div class="row">
		<div class="col">
			<select id="courseSubjectInput" type="text" class="form-control" name="subject" formControlName="subject">
				<option>all</option>
				<option>ma</option>
				<option>ph</option>
			</select>
		</div>
		<div class="col">
			<input id="courseNumberInput" class="form-control" placeholder="number" name="number" formControlName="number">
		</div>
	</div>
</form>

<div *ngFor="let course of courses">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">{{course.id | uppercase}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">Standing: N/A</h6>
		<h6 class="card-subtitle mb-2 text-muted">Prereqs: {{course.prereqs}}</h6>
		</div>
	</div>  
</div>